$green: #509e2f;
$green2: #b5bd00;
$black: #3f4444;
$orange: #ed8b00;
$red: #e04e39;
$gray: #75787b;
$blue: #307fe2;
$percent: 3%;
$btn-percent: 1%;
$tablet: 768px;
$phone: 500px;
$laptop: 1000px;
$big-screen: 1200px;

a {
    @include lt_link($black, white, 2px);
}

html, body {
    height: 100%;
}

#page_container {
    min-height: 100%;
    padding-bottom: 57px;
}

.navbar {
    border: 0;
    border-radius: 0;
    background-color: $green;
    filter: none;
    background-image: linear-gradient(to bottom, lighten($green, $percent), darken($green, $percent));
    background-repeat: repeat-x;
    border-color: #a2dc8a;
    background-image: -moz-linear-gradient(top, lighten($green, $percent), darken($green, $percent));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(lighten($green, $percent)), to(darken($green, $percent)));
    background-image: -webkit-linear-gradient(top, lighten($green, $percent), darken($green, $percent));
    background-image: -o-linear-gradient(top, lighten($green, $percent), darken($green, $percent));
    min-height: 40px;
    .navbar-header {
        float: none;
    }
    a.navbar-brand {
        padding: 10px 15px 5px;
    }
    a {
        border: 0;
    }
    #navbar-title {
        color: darken(white, 5%);
        font-size: 26px;
        font-weight: 400;
        display: inline;
        position: relative;
        top: 6px;
        left: 15px;
        @media (max-width: $tablet) {
            display: none;
        }
    }
}

footer {
    background: lighten($black, 15%);
    font-size: 12px;
    color: darken(white, 10%);
    padding: 20px 0 10px;
    margin-top: -57px;
    a {
        @include dk_link(darken(white, 10%), lighten($black, 15%), 2px);
    }
    span#copyright {
        float: right;
    }
}

#underwriter {
    max-width: 300px;
    margin: 0 auto;
    min-height: 300px;
    p {
        font-size: 12px;
        padding-left: 0;
        margin-top: 3px;
        text-align: center;
        color: lighten($gray, 10%);
        li {
            display: inline
        }
        a {
            @include lt_link($gray, white, 2px);
        }
    }
    @media (max-width: 330px) {
        margin-left: -5px;
    }
}

#social-logos {
    display: inline;
    height: 40px;
    width: 300px;
    a {
        float: right;
        margin-top: 2px;
        padding: 5px 0 5px 10px;
        div {
            background-size: 100%;
        }
        @media (max-width: $tablet) {
            &:first-child {
                margin-right: 15px;
            }
        }
    }
}

@media (max-width: $tablet) {
    footer {
        padding-bottom: 20px;
    }
    #body {
        margin-left: 5px;
    }
}

