{% import "macros.html" as macros %}
            {% for story in stories %}
                <div class="row top_story">
                    <div class="col-xs-12">
                    {% if story.image and story.landscape %}
                        <div class="landscape_img">
                            <a href="{{ story.link }}"><img src="{{ url_for('static', filename=story.image) }}" class="img-responsive cover_photo" alt="{{ story.title }}"></a>
                        </div>
                    {% endif %}
                    <p class="dateline">{{ story.date }}</p>
                    <h3 class="title"><a href="{{ story.link }}">{{ story.title }}</a></h3>
                    <p class="byline">
                    {% if story.byline.url %}
                        By <a href="{{ story.byline.url }}" alt="{{ story.byline.name }} bio">{{ story.byline.name|upper }}</a>
                    {% else %}
                    By {{ story.byline.name|upper }}
                    {% endif %}</p>
                    <div class="row story_text">
                        {% if story.image and not story.landscape %}
                        <div class="col-sm-4 vertical_img">
                            <a href="{{ story.link }}"><img src="{{ url_for('static', filename=story.image) }}" class="img-responsive pull-left" alt="{{ story.title }}"></a>
                        </div>
                        <div class="col-sm-8">
                        {% else %}
                        <div class="col-sm-12">
                        {% endif %}
                        {% for paragraph in story.text %}
                            <p>{{ paragraph|safe }}</p>
                        {% endfor %}
                            {% if story.audio %}
                            {{ macros.player(story.audio.mp3, story.audio.duration, "Listen To The Report") }}
                            {% endif %}
                            <p>
                                <span class="file glyphicon glyphicon-file"></span> <a href="{{ story.link }}">Read the Article</a>
                            </p>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
                <a id="archive_link" href="http://digital.vpr.net/topic/health-care" alt="Click here for more health care reporting">
                <div class="row top_story" id="archive">
                    <div class="col-xs-12">
                        <p><span>More Health Care Reporting</span></p>
                    </div>
                </div>
                </a>
